body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    background-color: #69ccdf;
  }
  .ui.menu {
    background: #000000;
  }
  .toggle,
  [id^=drop] {
    display: none;
  }
  
  nav:after {
    content:"";
    display:table;
    clear:both;
  }
  
  nav ul {
    float: right;
    padding:0;
    margin:0;
    list-style: none;
      position: relative;
      color: whitesmoke;
    }
    
  nav ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #222;
    }
  
  nav a {
    display:block;
    padding:14px 20px;	
    color:whitesmoke;
    font-size:17px;
    text-decoration:none;
  }
  
  nav ul li ul li:hover { 
      color:rgb(15, 126, 255);
      text-decoration: none;
  }
  
  nav a:hover { 
      text-decoration: none;
  }
  
  nav ul ul {
    display: none;
    position: absolute; 
    top: 60px; 
  }
    
  nav ul li:hover > ul {
    display:inherit;
  }
    
  nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
  }
  
  nav ul ul ul li {
    position: relative;
    top:-60px;
    left:170px; 
  }
  
  li > a:after { content:  ' +'; }
  li > a:only-child:after { content: ''; }
  
  @media all and (max-width : 768px) {
  
    #logo {
      display: block;
      padding: 0;
      width: 100%;
      text-align: center;
      float: none;
    }
  
    nav {
      margin: 0;
    }
  
    .toggle + a,
    .menu {
      display: none;
    }
  
    .toggle {
      display: block;
      background-color: #222;
      padding:14px 20px;	
      color:whitesmoke;
      font-size:17px;
      text-decoration:none;
      border:none;
    }
  
    .toggle:hover {
      background-color: #000000;
    }
  
    [id^=drop]:checked + ul {
      display: block;
    }
  
    nav ul li {
      display: block;
      width: 100%;
      }
  
    nav ul ul .toggle,
    nav ul ul a {
      padding: 0 40px;
    }
  
    nav ul ul ul a {
      padding: 0 80px;
    }
  
    nav a:hover,
     nav ul ul ul a {
      background-color: #000000;
    }
    
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a{
      padding:14px 20px;	
      color:whitesmoke;
      font-size:17px; 
    }
    
    
    nav ul li ul li .toggle,
    nav ul ul a {
      background-color: #212121; 
    }
  
    nav ul ul {
      float: none;
      position:static;
      color: whitesmoke;
    }
  
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
      display: none;
    }
  
    nav ul ul li {
      display: block;
      width: 100%;
    }
  
    nav ul ul ul li {
      position: static;
  
    }
  
  }
  
  @media all and (max-width : 330px) {
  
    nav ul li {
      display:block;
      width: 94%;
    }
  
  }
  
  ::placeholder {
      color: whitesmoke;
  }
  
  input::placeholder {
      color: whitesmoke;
  }
  .form-group {
      color: whitesmoke;
  }
  