body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: sans-serif !important;

    background-color: #69ccdf !important;
}

.ui.menu {
    background: #000000 !important;
}
#login-button {
  cursor: pointer;
}
#logout-button {
  cursor: pointer;
}

.toggle,
[id^=drop] {
    display: none !important;
}

nav:after {
    content: "" !important;
    display: table !important;
    clear: both !important;
}

nav ul {
    float: right !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    position: relative !important;
    color: whitesmoke !important;
    background: linear-gradient(to right, #03A9F4, #ff00ff) !important;
}

nav ul li {
    margin: 0px !important;
    display: inline-block !important;
    float: left !important;
}
nav ul li:first-child{
  border-radius: 25px 0px 0px 25px;
}
nav ul li:last-child {
  border-radius: 25px 0px 25px 25px;
}
nav ul li:nth-child(5) {
  border-radius: 0px 0px 10px 0px;
}
nav a {
    display: block !important;
    padding: 14px 20px !important;
    color: whitesmoke !important;
    font-size: 17px !important;
    text-decoration: none !important;
}

nav ul li ul li:hover {
    text-decoration: none !important;
}

nav a:hover {
    text-decoration: none !important;
}

nav ul ul {
    display: none !important;
    position: absolute !important;
    top: 60px !important;
}

nav ul li:hover>ul {
    display: inherit !important;
}

nav ul ul li {
    width: 170px !important;
    float: none !important;
    display: list-item !important;
    position: relative !important;
}

nav ul ul ul li {
    position: relative !important;
    top: -60px !important;
    left: 170px !important;
}

li>a:after {
    content: ' +' !important;
}

li>a:only-child:after {
    content: '' !important;
}

@media all and (max-width : 768px) {
    body {
        height: 100% !important;
        margin: 0; 
        padding: 0;
    }

    #logo {
        display: block !important;
        padding: 0 !important;
        width: 100% !important;
        text-align: center !important;
        float: none !important;
    }

    nav {
        margin: 0 !important;
    }

    .toggle+a,
    .menu {
        display: none !important;
    }

    .toggle {
        display: block !important;
        padding: 14px 20px !important;
        color: whitesmoke !important;
        font-size: 17px !important;
        text-decoration: none !important;
        border: none !important;
        background: linear-gradient(to right, #03A9F4, #ff00ff) !important;
        margin-bottom: 2px;
        border-bottom: #000000;
        border-bottom-width: 10px
    }

    .toggle:hover {
        background-color: #000000 !important;
    }

    [id^=drop]:checked+ul {
        display: block !important;
    }

    nav ul li {
        display: block !important;
        width: 100% !important;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px !important;
    }

    nav ul ul ul a {
        padding: 0 80px !important;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: #000000 !important;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px !important;
        color: whitesmoke !important;
        font-size: 17px !important;
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121 !important;
    }

    nav ul ul {
        float: none !important;
        position: static !important;
        color: whitesmoke !important;
    }

    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none !important;
    }

    nav ul ul li {
        display: block !important;
        width: 100% !important;
    }

    nav ul ul ul li {
        position: static !important;

    }

}

@media all and (max-width : 330px) {

    nav ul li {
        display: block !important;
        width: 94% !important;
    }

}

::placeholder {
    color: whitesmoke !important;
}

input::placeholder {
    color: whitesmoke !important;
}

.form-group {
    color: whitesmoke !important;
}
