# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
build2
dist
npm-debug.log
travis_phantomjs
okta-oidc-tck
samples-nodejs-express-4
.vscode
.samples.config.js
custom-login/src/.samples.config.js--
okta-hosted-login/src/.samples.config.js--
.samples.config.js--
testenv

backend/node_modules
frontend/node_modules