.body-memesfeed {
    background-color: black;
}

.button-rate {
    background-color: white;
    width: fit-content;
    bottom: 45%;
}

.button-rate-up {
    position: fixed;
    left: 10%;
}

.button-rate-down {
    position: fixed;
    right: 10%;
}